# BACKEND
NEXT_PUBLIC_BACKEND_URI='http://localhost:1337/graphql'
BACKEND_URI='http://localhost:1337/graphql'
BACKEND_API_KEY='example'

# PRISMA
DATABASE_URL='mysql://root:example@localhost:3306/dekk'

# NEXT AUTH
NEXTAUTH_URL=http://localhost:3000
SECRET=
JWT_SIGNING_PRIVATE_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
EMAIL_SERVER=
EMAIL_FROM=

# TEST
CYPRESS_RECORD_KEY=
